# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
# PENTING: Jangan pernah me-commit berkas rahasia/kredensial ke Git
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# OS / Editor specific
.DS_Store
*.pem
Thumbs.db

# IDE / Editors
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?